<!DOCTYPE html>
<html>
    <head>
    	<% include partials/head.ejs %>
        <title><%= title %></title>
    </head>
    <body>
         
     <% include partials/scripts.ejs %>   
   </body>
 </html>
        

