<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="image/png" href="/../images/favicon.png"/>
	<% include partials/head.ejs %>
	<title><%= title %></title>
</head>
<body>
		<nav class="navbar navbar-inverse">
						<ul class="nav navbar-nav">
							<li><a><img src="/../images/favicon1.png" style="height:20px;"></a></li>
							<li><a href="/..">Home</a></li>
							<li><a href="profil">Profil Mesjid/Mushola</a></li>
							<li><a href="kegiatan">Kegiatan</a></li>
						</ul>
					</div>
				</div>
			</nav>
	<div class="jumbotron">
  	<div class="container text-center">
 	</div>
	</div>	
	<div class="container">
	<div class="row">
	<div class="col-sm-8">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">		  		
	</div>	
	</div>
	<div class="row-login" id="pwd-container">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
	<section class="login-form">
	</section>  
	</div>		  
	</div>
	</div>	
	<div class="sidebar-update">
	</div>
	<div class="col-sm-4">			
	</div>
	<div class="col-sm-3">
	</div>
	</div>
	<div class="footer">
	</div>
	<% include partials/scripts.ejs %>
</body>
</html>