#wrapper{
    
    margin-top:30px;
    width:90%;
    min-height:600px;
    margin-left:5%;
    border:1px solid #ddd;
    background:#fff;
   
}

.page-container{padding:20px;}
.page-data{padding:10px;}
.page-header-data{
    
    padding:2px;
    padding-left:40px;
    background:#665847;color:#FEFFFD;
    margin-top: 30px;
}
.data-btn{padding-left:8px}
.data-btn button{
    padding:10px 20px;background:#FF9900;border:1px solid #fff;
    color:#FEFFFD;font-weight:bold;
}

.data-table{padding-left:10px;}
.data-table table{border-collapse:collapse;border:1px solid #ddd;width:100%}
.a-inside{padding:4px 10px;border:1px solid #fff;text-decoration:none;}
.a-inside.edit{background-color:#00CC00;color:#fff;}
.a-inside.delete{background-color:#D23641;color:#fff;}

input[type="text"]{
    
    border:1px solid #ddd;
    /*height:26px;
    width:300px;*/
    margin-bottom: 3px;
}
.cancel{
    background-color:#D23641;color:#fff;
    border:1px solid #d32132;color:#fff;
    padding:8px 35px;font-weight:bold;
   

}
input[type="submit"]{

    border:1px solid #ffff99;color:#fff;
    padding:8px 35px;font-weight:bold;
    background:#fd9531;
    margin-left: 235px;
}
textarea{ border:1px solid #ddd;width:296px;}
.label-table{font-weight:bold;}

#footer{margin-left:82%;margin-top:10%}
