footer {
background-color: #3060bb;
padding: 25px;
margin-left: 185px;
margin-right: 185px;
height: 60px;
}

.col-data{
	border: 1px solid black;
	margin-top: 80px;
	width: 300px;
}
.search-form{
	border: 1px solid black;
	width: 600px;
	height: 80px;
	margin-left: 80px;
	background: rebeccapurple;
	margin-top: 10px;
	float: left;
}
.sidebar-update{
	float: right;
	border: 1px solid black;
	border-radius: 2px;
	width: 320px;
	height: 300px;
	margin-right: 95px;
	margin-top: 10px;
}
.search{
	margin-top: 15px;
	margin-left: 200px;
	padding:8px 15px;
	background: #f0f8ff;
	border:2px solid #008080;
	width: 300px;
}
.button {
	position:relative;
	left:-4px;
	padding:10px 15px;
	border:0px solid #008080;
	background-color: #6B8E23;
	color:#fafafa;
	font-weight:bold;
}
.button:hover {
	background: #008080;
	color:#fafafa;
}
	.button:active {
	background:#9ACD32;
}
.carousel-inner img {
width: 100%; /* Set width to 100% */
min-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
display: none; 
}
}

@CHARSET "UTF-8";
/*
over-ride "Weak" message, show font in dark grey
*/
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.progress-bar {
    color: #333;
} 

/*
Reference:
http://www.bootstrapzen.com/item/135/simple-login-form-logo/
*/

* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	@include box-sizing(border-box);
	&:focus {
		z-index: 2;
	}
}

/*body {
	background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

.login-form {
	margin-top: -304px;
	margin-right: -10px;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form[role=login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=login] input,
	form[role=login] button {
		font-size: 18px;
		margin: 16px 0;
	}
	form[role=login] > div {
		text-align: center;
	}
	
.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
	.form-links a {
		color: #fff;
	}
